img {
  display: block;
  position: relative;
  top: 0;
  z-index: 1;
}

.round {
  border-radius: 50%;
}

ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  &:last-child{
    margin-bottom: 16px;
  }

  @media screen and (max-width: 550px) {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 99%;
  }
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  button {
    width: 200px;
  }       
}

