<md-card class="search">
  <div class="form-container">
    <form #search="ngForm" (ngSubmit)="onSearch()">
      <div class="group">
      <md-input-container>
        <input mdInput
          name="firstName"
          pattern="[a-zA-ZА-Яа-яІі]{2,30}"
          placeholder="First Name"
          [(ngModel)]="user.firstName" />
      </md-input-container>
      <md-input-container>
        <input mdInput
          name="lastName"
          pattern="[a-zA-ZА-Яа-яІі]{2,30}"
          placeholder="Last Name"
          [(ngModel)]="user.lastName" />
      </md-input-container>
      </div>
      <div class="group">
      <md-input-container>
          <input mdInput 
            name="username"
            pattern="[a-zA-Z0-9]{4,30}" 
            [(ngModel)]="user.username"
            placeholder="Username" />
      </md-input-container>
      <md-input-container>
        <input mdInput
          name="email"
          pattern="^\S+@\S+$"
          type="email"
          placeholder="Email"
          [(ngModel)]="user.email" />
      </md-input-container>
      </div>
      <md-input-container>
          <input mdInput [(ngModel)]="user.birthDate" placeholder="Birth Date" name="BirthDate">
        </md-input-container>
      <span class="gender">Gender </span>
      <div id="gender-container">
        <md-radio-group [(ngModel)]="user.gender" name="Gender">
          <md-radio-button value="Male" color="primary">Male</md-radio-button>
          <md-radio-button value="Female" color="primary">Female</md-radio-button>
          <md-radio-button value="Unknown" color="primary">Unknown</md-radio-button>
          <md-radio-button value="" color="primary">Any</md-radio-button>
        </md-radio-group>
      </div>
      <div class="button-container">
        <button
          md-raised-button
          color="primary"
          type="submit">
          <md-icon>search</md-icon>
          <span>Search</span>
        </button>
      </div>
    </form>
  </div>
</md-card>

<am-users-list *ngIf="!reloading"
  [type]="'search'"
  [searchModel]="user" >
</am-users-list>
