//Grey Navigation
//$nav-background: #f5f5f5;
//$nav-icon: #000000;
//$nav-active-route: #c0c0c0;

$nav-background: #3F51B5;
$nav-icon: #ffffff;
$nav-active-route: #283593;
$nav-text: #fafafa;
$nav-new-message-text: #ffffff;
$card-background: #f9f9f9;
$card-title-line: #3f51b5;
$online-circle: #64dd17;
$online-circle-border: #ffffff;
$online-text: #333333;
$button-text: #ffffff;
$friend-button: #6dc066;
$delete-button: #fa8072;
$disabled-button: #eeeeee;
$message-button: #3f51b5;
$users-message-background: #e1ffc7;
$partners-message-background: #ffffff;
$unread-message-background: rgba(198, 226, 255, 0.6);
$delete-message: #fa8072;
$typing-background: rgba(249, 249, 249, 0.7);
$typing-text: grey;
$status-color: #888888;
$correspondence-toolbar-border-bottom: #eeeeee;
$conversation-hover: #eeeeee;
$last-message: #888888;
$chat-respond-background: #ffffff;
$delete-account-button: #990000;
$gender-text: #9e9e9e;